# .cursor
.cursor/*

# .DS_Store
.DS_Store

# __pycache__
__pycache__

# jupyter
*.ipynb

# Python package development
*.egg-info/
build/
dist/
*.egg

# directories
artifacts/*
checkpoints/*
configs/*
logs/*
scripts/*

# test files
test_*.py

# TODO
TODO.md

# .drowignore
.drowignore